<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cones</title>

     <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Montserrat&family=Sacramento&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <!-- BootStrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- BootStrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-auth.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div class="first">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <p class="navbar-brand navbar-expand-lg logo"  style="font-size: 3rem;">Cones 👁️</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto" id="navbar-items">
          <li class="nav-item" id="user-profile-nav">
            <!-- User profile navigation will be dynamically added here -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#one">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/About-us">About Us</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h3 class="start">Color blindness may obscure the vibrant palette of the world, yet it unveils the true essence of humanity's kaleidoscopic spirit—seeing beyond hues, embracing the brilliance of diversity with the heart's discerning eye.</h3>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img  class="dalton" src="/images/John_Dalton_by_Charles_Turner.jpg" alt="Jhon-Dalton">
        </div>
    </div>
   </div>
    <section id="question-section">
        <div class="question">
            <h1>What is color blindness?</h1>
            <p class="f-pera">
              In 1803, Jhon Dalton was the first scientist to take academic interest in the subject of color blindness. Color blindness, also known as color vision deficiency, is a visual impairment that affects a person's ability to perceive and distinguish certain colors or color combinations accurately. It occurs due to a deficiency or absence of certain color-sensitive cells in the retina, the light-sensitive tissue at the back of the eye. These cells are called cones and are responsible for detecting colors.
            </p>
            <p class="f-pera">
              The most common form of color blindness is red-green color blindness, where individuals have difficulty differentiating between red and green colors. In some cases, people with color blindness may also have trouble distinguishing between blue and yellow colors.
            </p>
            <p class="f-pera">
              Color blindness is usually a genetic condition, inherited from one's parents, and is more common in males than females. However, it can also be acquired later in life due to certain eye diseases, injuries, or as a side effect of certain medications.
            </p>
            <p class="f-pera">
              People with color blindness may see the world in a limited color range or may have difficulty identifying specific colors, which can affect their daily life activities, such as reading charts, maps, or traffic lights. However, most individuals with color blindness can still lead normal lives by using alternative methods, such as relying on color labels or memorizing the order of colors in traffic signals.
            </p>
        </div>
        <br>
        <div class="question">
            <h1>What are the main types of color blindness, and how are they categorized based on the affected color-sensitive cells?</h1>
            <p class="f-pera">
              Color blindness, also known as color vision deficiency (CVD), can be categorized into two main types based on the specific color-sensitive cells that are affected:
            </p>
            <img class="types_blindness" src="/images/Color Chart.png" alt="types of color blindness">
            <p class="f-pera">
              <ol class="order">
                <li><strong>Red-Green Color Blindness:</strong> This is the most common type of color blindness, and it can further be divided into two subtypes: </li>
                <ul class="order">
                  <li><strong>Protanomaly:</strong> People with protanomaly have a reduced sensitivity to red light, making it difficult to distinguish between certain shades of red and green. </li>
                  <li><strong>Protanopia:</strong> People with protanopia lack the red-sensitive cones, making it impossible to perceive any red light. They may confuse red with green, blue, or gray. </li>
                </ul>
                <li><strong>Blue-Yellow Color Blindness:</strong> This type of color blindness is less common than red-green color blindness and can also be divided into two subtypes:</li>
                <ul class="order">
                    <li><strong>Deuteranomaly:</strong>People with deuteranomaly have a reduced sensitivity to green light, causing difficulties in distinguishing between certain shades of green and blue.</li>
                    <li><strong>Deuteranopia:</strong>People with deuteranopia lack the green-sensitive cones, leading to difficulties in differentiating between green and blue.</li>
                </ul>

              </ol>
              <p class="f-pera">It's crucial to remember that not everyone suffers colour blindness in the same manner, and that its intensity can range from moderate to severe. Colour blindness can also be inherited or developed later in life for a variety of reasons. The diagnosis of colour blindness and other visual abnormalities might be aided by routine eye exams.</p>

            </p>
        </div>
        <div class="question">
          <h1>What is the Ishihara test, and what is the procedure for conducting this test to assess color vision deficiency?</h1>
          <p class="f-pera">A typical test to assess colour blindness, also known as colour vision deficit, is the Ishihara test. It was initially introduced in 1917 by Dr. Shinobu Ishihara, who gave it its name. The test consists of a succession of plates with dots of different colours that are set such that those with normal colour vision can identify or detect certain numbers or patterns among the dots, whereas people with colour vision deficits may find it challenging to do so.</p>
          <p class="f-pera">At first, the test-taker will initially be presented a plate; if he properly recognises it, the test will move on; if not, it will end and the test-taker has a major colour vision problem.</p>
          <p class="f-pera"> Following that, the test-taker will be presented with another set of 20 plates. If they correctly identify the numbers or patterns on more than 17 plates, it indicates they do not have color blindness. However, if they score lower than 13, it suggests they have color blindness. Subsequently, the test-taker will be shown 4 additional plates, and based on their responses to these plates, the specific type of color blindness can be determined.</p>
        </div>
        <br>
        <br>
        <div class="first-image-section">
          <p class="f"><strong>There you go:</strong></p>
          <div class="input-container">
              <img src="/images/12.1.jpg" alt="first image" class="first-image">
              <input type="text" class="form-control" placeholder="Enter the number">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
      

        <div class="last_part">
          <h1 class="last_logo">Cones👁️</h1>
          <p class="last_quote">Unlocking a Colorful World:<br>Discover Your True <br>Spectrum with Our Ishihara <br>Color Blindness Detection Website </p>
        </div>


    </section>
    <div class="centered-content">
      <div class="icon bi" id="one">
        <a href="#" class="bi-facebook"></a>
        <a href="#" class="bi-instagram"></a>
        <a href="#" class="bi-twitter"></a>
        <a href="#" class="bi-envelope"></a>
      </div>
    </div>
    <div class="last-content">
      <div class="last">
        <p class="terms">© 2023 Cones👁️ Ltd. All Rights Reserved</p>
      </div>
    </div>
    <script>
      const firebaseConfig = {
        apiKey: "AIzaSyAZ7854htYYYmyH0qhWAwieRW2B7PTFdzg",
        authDomain: "cones-450e8.firebaseapp.com",
        projectId: "cones-450e8",
        storageBucket: "cones-450e8.appspot.com",
        messagingSenderId: "963595330821",
        appId: "1:963595330821:web:78f7d4b936b19e87c8c36c",
      };

      const app = firebase.initializeApp(firebaseConfig);
      const auth = app.auth(); // Get the Auth instance

      auth.onAuthStateChanged((user) => {
  const userProfileNav = document.getElementById("user-profile-nav");
  if (user) {
    // If user is authenticated (logged in)
    const profileImageURL = user.photoURL ;
    // ? user.photoURL : "https://github.com/Jahid146/Cones-Color-Blindness-Detection-using-Ishihara-tes/blob/master/public/images/7309681.jpg";

    userProfileNav.innerHTML = `
      <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="${profileImageURL}" alt="User Profile Image" class="user-image rounded-circle">
          </a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
              <li class="text-center">${user.email}</li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" onclick="handleSignOut()">Log Out</a></li>
          </ul>
      </div>
    `;
  } else {
    // If user is not authenticated (logged out)
    userProfileNav.innerHTML = `
      <a class="nav-link" href="/sign-up">Log in/Sign up</a>
    `;
  }
});

  // Function to handle user sign-out
  function handleSignOut() {
    auth.signOut().then(() => {
      // Redirect or perform necessary actions after sign-out
    });
  }
    </script>

</body>
</html>
