body {
    margin: 0;
    padding: 0;
    /* background-color: #C1D0B5; */
}

.first {
    background-color: gray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    padding-left: 35px;
    color: #ffffff;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 6px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-link {
    font-family: "Ubuntu";
    border: 1px solid white;
    margin-right: 30px;
    border-radius: 8px;
    background-color: gray;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(7, 7, 7, 0.6);
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    color: #0e0f0f;
}

.nav-link:hover {
    background-color: gray;
    color: white;
    transform: translateY(-3px);
}

.ig {
    /* background-color: #C1D0B5;
    border-radius: 50%; */
    width: 100%;
    padding-top: 150px;
    margin-bottom: 1px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #808080;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px #999;
}

.button:hover {
    background-color: #808080;

}

.button:active {
    /* background-color: #273127; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-body {
    margin: 2px;
    padding: 2px;
    display: flex;
    gap: 10px;
}

.center {
    padding-top: 10px;
    margin: 70px;
}

.cal-head {
    padding: 10px;
    margin: 30px;
    margin-bottom: 160px;
}

.cen {
    justify-content: center;
    align-items: center;
}

.UN {
    width: 300px;
}

.cone {
    font-size: 30px;
}

.last-content {
    background-color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last {
    text-align: center;
}

.terms {
    color: #ffffff;
}

.center{
    text-align: center;
}
.oops{
    font-size: 250px;
    
}
#opp{
    text-decoration: none;
    color:white;
}