/* body, html {
  height: 100%;
  margin: 0; /* Remove default margin */
/* padding: 0; /* Remove default padding
} */

/* body {

  margin: 0;
  padding: 0;
} */

.title{
  text-align: center;
}

.small-table {
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the table horizontally */
}
.small-table th {
  border: 2.6px solid #6e6a6a; /* 2.6px solid border with color #6e6a6a for table headers */
}
.small-table td {
  border: 2.6px solid #6e6a6a; /* 2.6px solid border with color #6e6a6a for table data cells */
}

.header {
  background-color: gray;
}
.logo {
  padding-left: 35px;
  color: #ffffff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 6px;
}

.nav-items {
  display: flex;
  align-items: center;
}
.nav-items {
  display: flex;
  align-items: center;
}



.nav-link {
  font-family: "Ubuntu";
  border: 1px solid white;
  margin-right: 30px;
  border-radius: 8px;
  background-color: gray;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(7, 7, 7, 0.6);
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  color: #0e0f0f;
}

.nav-link:hover {
  background-color: gray;
  color: white;
  transform: translateY(-3px);
}
.a_style{
  text-decoration: none;
}
.container {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 10px;
  transition: transform 0.2s ease; /* Add a transition for the transform property */
}


.her {
  margin-bottom: 50px;
}

.first {
  padding-top: 30px;
}

/* Set the wrapper to fill the remaining height */
.last-content {
  width: 100%;
  background-color: #808080;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.last {
  text-align: center;
  padding: 20px;
}

.terms {
  color: #ffffff;
}
