/* body, html {
  height: 100%;
  margin: 0; /* Remove default margin */
/* padding: 0; /* Remove default padding
} */

/* body {

  margin: 0;
  padding: 0;
} */

.header {
  background-color: gray;
}
.logo {
  padding-left: 35px;
  color: #ffffff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 6px;
}

.nav-items {
  display: flex;
  align-items: center;
}
.container {
  font-family: "Ubuntu";
  font-size: 1.5rem;

}
.her {
  margin-bottom: 50px;
}

.first {
  padding-top: 30px;
}

.container {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 10px;
  transition: transform 0.2s ease; /* Add a transition for the transform property */
}

/* Set the wrapper to fill the remaining height */
.last-content {
  width: 100%;
  background-color: #808080;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.last {
  text-align: center;
  padding: 20px;
}

.terms {
  color: #ffffff;
}
